.navbar {
  position: fixed;
  height: 10vh;
  width: 100vw;
  background-color: #333;
  opacity: 80%;
  color: white;
  display: inline-grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  z-index: 1;

  .logo {
    width: 100%;
    height: auto;
    grid-column: 2/4;
  }

  .barsButton {
    padding: 0;
    border: none;
    background-color: inherit;
    color: white;
    width: 30%;
    height: auto;
    grid-column: 4/5;
    justify-self: end;
    margin-right: 10vw;
  }

  .bars {
    width: 100%;
    height: 100%;
  }

  .links {
    display: none;
  }
}

@media (min-width: 769px) {
  .navbar {
    .logo {
      position: absolute;
      width: 55%;
      height: 80%;
      grid-column: 2/5;
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: space-between;

    .links {
      display: flex;
      justify-content: flex-end;
      width: 40%;

      a {
        font-size: 2.4rem;
        margin-right: 15%;
      }
    }

    .barsButton {
      display: none;
    }

    .logo {
      position: static;
      height: auto;
      width: 10%;
      margin-left: 13.5rem;
    }
  }
}
