@import "/styles/colors.scss";

.heading3 {
  font-size: 1.8rem;
  text-align: center;
  color: white;
  // text-decoration: underline;
  // text-decoration-color: $purple;
  margin-top: 5.6rem;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .heading3 {
    font-size: 4rem;
  }
}
