@import "/styles/colors.scss";

.socialMedia {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;

  .icon {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.6rem;
    z-index: 1;
  }

  .heading {
    font-size: 2.4rem;
    font-weight: 400;
    z-index: 1;
    color: $text;
  }
}

@media (min-width: 1200px) {
  .socialMedia {
    height: 15vh;
    .icon {
      width: 6.4rem;
      height: 6.4rem;
    }

    .heading {
      font-size: 4.8rem;
    }
  }
}
