@import "/styles/colors.scss";

.hero,
.hero::before {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hero {
  position: relative;
  // background-image: url(/images/restaurant-hero.webp);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  z-index: -2;

  .backgroundImage {
    z-index: -2;
  }

  .logo {
    width: 303px;
    height: 74px;
    grid-column: 1/5;
    grid-row: 6/8;
    margin: 0 auto;
  }

  .callToAction {
    background: $background;
    border: none;
    border-radius: 60px;
    margin: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 2rem;
    margin-top: 8rem;
    grid-column: 1/5;
    grid-row: 9/11;
  }

  .divider {
    width: 100vw;
    height: 100%;
    grid-column: 1/6;
    grid-row: 12/14;
  }
}
.hero::before {
  content: "";
  position: absolute;
  background-color: #333;
  opacity: 40%;
  z-index: -1;
}
