@import "/styles/colors.scss";

.hero,
.hero::before {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hero {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  z-index: -2;

  .backgroundImage {
    width: 100vw;
    height: 100%;
    z-index: -2;
  }

  .logo {
    width: 303px;
    height: 74px;
    grid-column: 1/5;
    grid-row: 6/8;
    margin: 0 auto;
  }

  .advert {
    width: max-content;
    height: auto;
    padding: 15px 25px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: $background;

    h3 {
      height: auto;
      font-size: 1.6rem;
      text-align: center;
      color: white;
      font-weight: 400;
    }

    @media (min-width: 700px) {
      h3 {
        font-size: 2.2rem;
      }
    }

    @media (min-width: 1200px) {
      h3 {
        font-size: 2.8rem;
      }
    }
  }

  .callToAction {
    background: $background;
    border: none;
    border-radius: 60px;
    margin: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    grid-column: 2/4;
    grid-row: 10/11;
    z-index: 1;
    pointer-events: all;

    .arrow {
      font-size: 2rem;
    }
  }

  .divider {
    width: 100vw;
    height: 100%;
    grid-column: 1/6;
    grid-row: 12/14;
  }
}
.hero::before {
  content: "";
  position: absolute;
  background-color: #333;
  opacity: 40%;
  z-index: -1;
}

@media (min-width: 1200px) {
  .hero {
    grid-template-columns: repeat(12, 1fr);

    .backgroundImage {
      max-width: 100vw;
    }

    .logo {
      grid-row: 6/9;
      grid-column: 4/10;
      width: 546px;
      height: 134px;
    }

    .callToAction {
      grid-column: 6/8;
      margin: 0 10rem;
    }

    .divider {
      grid-column: 1/14;
      grid-row: 11/14;
    }
  }
}
