@import "/styles/colors.scss";

.hamburger {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: $text;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;

  a {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0;
    border: none;
    background-color: inherit;
    color: white;

    .cross {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
