@import "/styles/colors.scss";

.menuNavigation {
  display: flex;
  justify-content: space-between;
  min-width: 60vw;
  margin-top: 2.4rem;

  button {
    border: none;
    background: none;
    color: white;
  }

  .menuNavigationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.4rem;

    .itemDescription {
      text-align: center;
      font-size: 1.6rem;
    }
  }

  .menuIcon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.8rem;
    border-radius: 100%;
  }

  .green {
    background-color: $green;
  }

  .blue {
    background-color: $blue;
  }

  .orange {
    background-color: $orange;
  }
}
